@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sub-color:  #D5B473;
  --prim: #404F5C;
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std"),
    url("../public/fonts/neo-sans-std.otf");
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-bold"),
    url("../public/fonts/neo-sans-std-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-italic"),
    url("../public/fonts/neo-sans-std-italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-light"),
    url("../public/fonts/neo-sans-std-light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "nexa";
  src: local("nexa-light"),
    url("../public/fonts/nexa-light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "nexa";
  src: local("nexa-bold"),
    url("../public/fonts/nexa-bold.otf");
  font-weight: bold;
}


* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: 'neo-sans-std', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4  {
  font-family: 'neo-sans-std', sans-serif;
}

P {
  font-family: 'nexa', sans-serif;
  font-weight: bold;
}


.menu_item {
  font-weight: bold;
  margin: 1.1em 0;
  color: white;
  font-family: 'nexa'; 
  font-size: 1.4em;
}
.menu_item:hover, 
.menu_item:focus{
  color: var(--sub-color);
}



.ham, 
.ham2, 
.ham3 {
  background-color: var(--prim);
}


@media (min-width:640px){
  .menu_item {
    font-size: 2em;
  }
}
